/* use css formatting from https://byui-cse.github.io/wdd130-ww-course/week03/prove-rafting-aboutus.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header,
main,
body {
    width: 840px;
    margin: 0 auto;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header {
    background-color: var(--secondary-color);
    border: 1px solid rgb(0 0 0 /0.2);
    margin: 15px;
}

header img {
    width: 100px;
    height: auto;
}

nav,
p,
section,
article,
div {
    margin: 16px;
    padding: 8px;
}

nav {
    max-width: 840px;
    margin: 1rem;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: black;
    padding: 5px;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

section,
div {
    background-color: var(--accent2-color);
    border: 1px solid rgb(0 0 0 /0.2);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.hero article img {
    float: right;
    width: 125px;
}

footer {
    padding-left: 100px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #c0c0c0;
    border: 1px solid rgb(0 0 0 /0.2);
}

footer nav {
    display: flex;
    flex-direction: row;
    color: black;
    padding: 5px;
}

footer p {
    padding: 10px;
    margin-right: 100px;
}

footer img {
    width: 50px;
    height: auto;
    margin: 10px;
}

.socialmedia a {
    text-decoration: none;
}