main {
    width: 100%;
}

section {
    background-color: lightgray;
    width: 50%;
    align-self: center;
}

picture {
    padding: 0, auto, 0, auto;
}

img {
    width: 50%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.dark_ribbon {
    background-color: darkslategray;
    text-align: center;
}

.white_text {
    color: white;
}

.sec_format {
    padding: auto;
}

main {
    align-content: center;
}